@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  background-color: #0b100a;
  color: white;
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -0.04em;
}

#bg-image {
  background-image: url(/assets/bg-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: auto;
  height: 48px;
}