@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  background-image: url(/assets/bg-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100vw;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: white;
  // text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h1 {
  // font-size: 24px;
  // line-height: 150%
  // font-weight: 700;
  // letter-spacing: -0.04em;
  // margin-top: 32px;
}