// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;



// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}



// Miscellaneous
body {
  background-color: #0b100a;
  color: white;
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -0.04em;
}

// #bg-image {
//   background-image: url(/assets/bg/bg-01.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

.bg-image-item {
  transition: opacity 2s;

  &.off {
    opacity: 0;
  }
}

a {
  position: relative;

  &:hover::before {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.1s;
  }
}



// LOGO
#logo svg {
  width: auto;
  height: 56px;

  & path {
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  }
}

#logo:hover {
  cursor: crosshair;

  & path#Y {
    transform: translateX(56.76px);
  }

  & path#A {
    transform: translateX(3.15px);
  }

  & path#D {
    transform: translateX(-56.12px);
  }

  & path#Z {
    transform: translateX(0.88px);
  }
}